---
pageable: true
---
<h3 class="text-center delta caps">Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h3>
<ul class="block-list">
<% page_articles.each_with_index do |article, i| %>
  <li>
    <h2 class="no-bottom-margin"><%= link_to article.title, article %></h2>
    <p class="no-bottom-margin"><%= article.date.strftime('%e %B %Y') %></p></li>  
<% end %>
</ul>

<% if paginate %>
  <div class="gw">
    <div class="g one-third portable-one-whole">
    <% if prev_page %>
      <p class="pagination-link"><%= link_to 'Previous page', prev_page %></p>
    <% else %>
      <p class="pagination-link muted">Previous Page</p>
    <% end %>    
    </div>
    <div class="g one-third portable-one-whole">
      <p class="pagination-link text-center">Page <%= page_number %> of <%= num_pages %></p>
    </div>
    <div class="g one-third portable-one-whole">
    <% if next_page %>
      <p class="pagination-link proceed"><%= link_to 'Next page', next_page %></p>
    <% else %>
      <p class="pagination-link proceed muted">Next Page</p>
    <% end %>
    </div>
  </div>
<% end %>
</div>    
